name: Create conda environment with docker lcls-inj-tuning-rhel7

on:
  push:
    branches:
      - main

jobs:
  build:
    env:
      ENVIRONMENT_NAME: lcls-inj-tuning-rhel7
    runs-on: ubuntu-latest
    name: Build environment
    steps:
      - name: Build environment
        uses: slaclab/lcls-rhel7-conda-pack@v0.0